* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../public/images/quiz1.png");
  min-height: 100vh;
}

.logo {
  display: block;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.logo h2 {
  padding: 20px;
}

.quiz {
  margin: 20px auto;
  background-color: lightcyan;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  width: 50%;
}

.quiz-options {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.quiz-options button {
  padding: 10px;
  width: 10rem;
  outline: none;
}

.correct {
  background-color: rgb(54, 238, 54);
}
